@import '../global/styles/colors', '../global/styles/fonts', '../global/styles/fontSizeCalculator';

$blockMaxHeight: 656px; // 28 lines
$blockMinHeight: 348px; // 14 lines

.highlighter.block {
    border-bottom: 1px solid color(borderColor);
    border-top: 1px solid color(borderColor);
    // max-height: $blockMaxHeight;
    // min-height: $blockMinHeight;
    > div {
        // height: auto;
        // max-height: $blockMaxHeight;
        // min-height: $blockMinHeight;
    }
    pre {
        background-color: color(backgroundColor) !important;
        font-size: rem(13.5px);
        line-height: 20px;
        padding: 22px 11px !important;
        margin: 0 !important;
    }
    code {
        background-color: transparent;
        border-radius: 0;
        color: inherit;
        font-size: inherit;
        padding: 0;
    }
    &:last-child { margin-bottom: 0 !important; }
    + .highlighter { margin-top: 33px; }
}
.highlighter.inline {
    margin: 22px 22px 33px;
    pre {
        background-color: color(backgroundColorLight) !important;
        border: 0;
        border-radius: 3px;
        display: inline-block !important;
        font-size: rem(13.5px);
        margin: 0 !important;
    }
    code {
        background-color: transparent;
        border-radius: 0;
        color: inherit;
        font-size: inherit;
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {
    .highlighter {
        margin: 44px -22px;
    }
}
