@import '../../../src/styles/colors', '../../../src/styles/fonts', '../../../src/styles/fontSizeCalculator';

.ui.swatch {
    align-items: center;
    color: color(color);
    display: inline-flex;
    flex-direction: column;
    font-weight: $fontWeightSemiBold;
    height: 100px;
    justify-content: center;
    padding: 11px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    &.swatch-border { border: 1px solid color(borderColor); }
    &.swatch-text-inverse { color: color(colorInverse); }
}
