@import '../shared/styles/colors', '../shared/styles/fonts', '../shared/styles/fontSizeCalculator';

.table-props {
    margin: rem(11px) -22px 0;
    .ui.table {
        border-collapse: separate;
        border-spacing: 0;
        font-size: em(16px);
        text-align: left;
        width: 100%;
    }
        th, td {
            font-weight: $default-font-weight-bold;
            padding: 11px;
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
        }
            p { margin: 0; }
            .allowed-types {
                color: color(colorStatic);
                margin-top: 4px;
                .type { font-weight: $default-font-weight-semibold; text-transform: capitalize; }
            }
        td { font-size: em(14px); font-weight: $default-font-weight-normal; }
            .table-cell-name > code { display: none; }
            .mobile-info {
                margin: 0;
                padding: 0;
                dd, dt { margin: 0; padding: 0; }
                dt {
                    color: color(colorStatic);
                    font-size: em(14px);
                    font-weight: $default-font-weight-semibold;
                    margin: 11px 0 1px;
                    &:first-child { margin-top: 0; }
                }
                code { margin-left: -3px; }
            }
}

@media only screen and (min-width: 1024px) {
    .table-props {
        margin: calc(2rem - .14285em) -22px 0;
        .allowed-types { margin-top: 11px; }
        .table-cell-name > code { display: inline-block; }
        .mobile-info { display: none; }
    }
}
