@import '../../styles/colors', '../../styles/fonts', '../../styles/fontSizeCalculator', '../../styles/variables';

.ui.prompt {
    position: relative;
    &-inline {
        .prompt-actions {
            .prompt- {
                &message, &no-btn, &yes-btn { white-space: nowrap; }
                &message {
                    background-color: color(backgroundColorStatic);
                    border-bottom-left-radius: 3px;
                    border-top-left-radius: 3px;
                    line-height: 33px;
                    padding: 0 11px;
                    &.promp-message-alert { background-color: color(backgroundColorAlert); }
                    &.promp-message-success { background-color: color(backgroundColorSuccess); }
                    &.promp-message-warning { background-color: color(backgroundColorWarning); }
                }

            }
            .prompt- {
                &no-btn, &yes-btn {
                    align-items: center;
                    background-color: color(backgroundColorButtonAlternate);
                    border: 0;
                    box-shadow: inset 0 0 0 1px color(borderColorQuinary);
                    color: color(colorInverse);
                    cursor: pointer;
                    display: inline-flex;
                    height: 33px;
                    letter-spacing: 1px;
                    line-height: 1;
                    outline: none;
                    overflow: hidden;
                    padding: 0 rem(11px);
                    text-align: center;
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: background-color 125ms linear, color 125ms linear, opacity 250ms ease-out;
                    vertical-align: top;
                }
                &no-btn { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
            }
        }
        &.prompt-show .prompt-actions { animation: animateInActions 200ms ease-out forwards; display: inline-flex; }
    }
    .prompt-action {
        &-disable { cursor: default; }
    }
}

@keyframes animateInActions {
    0% { opacity: 0; transform: translateY(-11px); }
    50% { transform: translateY(0); }
    100% { opacity: 1; }
}
