$nav-width: 84px;
$drawer-navigation-height: 55px;
$drawer-action-bar-height: 70px;
$drawer-title-bar-height: 70px;

// Z-indexs
$prompt-zindex: 6000;
$z-index-navigation: 8000;
$drawer-zindex: 10000;
$modal-zindex: 12000;
