{
    "env": {
        "browser": true,
        "jest": true,
        "node": true
    },
    "extends": [
        "airbnb-typescript",
        "airbnb/hooks"
    ],
    "overrides": [
        {
            "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
            "rules": {
                "@typescript-eslint/indent": ["error", 4, {
                    "SwitchCase": 1,
                    "VariableDeclarator": 1,
                    "outerIIFEBody": 1,
                    "FunctionDeclaration": {
                        "parameters": 1,
                        "body": 1
                    },
                    "FunctionExpression": {
                        "parameters": 1,
                        "body": 1
                    },
                    "CallExpression": {
                        "arguments": 1
                    },
                    "ArrayExpression": 1,
                    "ObjectExpression": 1,
                    "ImportDeclaration": 1,
                    "flatTernaryExpressions": false,
                    "ignoredNodes": [
                        "JSXElement",
                        "JSXElement > *",
                        "JSXAttribute",
                        "JSXIdentifier",
                        "JSXNamespacedName",
                        "JSXMemberExpression",
                        "JSXSpreadAttribute",
                        "JSXExpressionContainer",
                        "JSXOpeningElement",
                        "JSXClosingElement",
                        "JSXText",
                        "JSXEmptyExpression",
                        "JSXSpreadChild"
                    ],
                    "ignoreComments": false
                }],
                "class-methods-use-this": [0],
                "import/extensions": [
                    "error",
                    "ignorePackages",
                    {
                        "js": "never",
                        "jsx": "never",
                        "ts": "never",
                        "tsx": "never",
                        "mjs": "never"
                    }
                ],
                "import/no-named-as-default": "off",
                "import/order": ["error", {
                    "groups": [
                        ["builtin", "external", "internal"]
                    ]
                }],
                "indent": "off",
                "max-len": [
                    "error",
                    100,
                    2,
                    {
                        "ignoreUrls": true,
                        "ignoreComments": true,
                        "ignoreRegExpLiterals": true,
                        "ignoreStrings": true,
                        "ignoreTemplateLiterals": true
                    }
                ],
                "operator-linebreak": ["error", "after"],
                "react/jsx-filename-extension": ["error", {
                    "extensions": [
                        ".jsx",
                        ".tsx",
                        ".test.js",
                        ".test.ts"
                    ]
                }],
                "react/jsx-fragments": ["error", "element"],
                "react/jsx-indent": ["error", 4],
                "react/jsx-indent-props": ["error", 4],
                "react/no-did-update-set-state": "off"
            }
        },
        {
            "files": [
                "*.tsx"
            ],
            "rules": {
                "react/require-default-props": "off"
            }
        },
        {
            "files": ["docs/**/*.jsx"],
            "rules": {
               "global-require": "off",
               "import/no-webpack-loader-syntax": "off"
            }
        },
        {
            "files": [
                "*.test.js",
                "*.test.tsx"
            ],
            "rules": {
                "react/jsx-props-no-spreading": "off"
            }
        },
        {
            "files": [
                "*constants.js",
                "*constants.ts",
                "*Constants.js",
                "*Constants.ts",
                "index.ts"
            ],
            "rules": {
                "import/prefer-default-export": "off"
            }
        }
    ],
    "parserOptions": {
        "project": "tsconfig.json"
    },
    "plugins": [
        "react",
        "sort-destructure-keys"
    ]
}
