@import './pageVariables';

$prefixDrawerContent: drawer--content;
$prefixPageContent: page--content;

.ui {
    &.#{$prefixDrawerContent} {
        padding: 33px 22px;
    }
    &.#{$prefixPageContent} {
        margin: 0 -#{$pageGutterXsm};
        padding: 0 #{$pageGutterXsm};
    }
    &.#{$prefixDrawerContent}, &.#{$prefixPageContent} {
        position: relative;
        transition: margin 200ms ease-out;
        z-index: 0;
        &-filters_rail_open {
            margin-left: 250px;
        }
        &-scrollable {
            overflow-x: scroll;
        }
    }
}

@media only screen and (min-width: 508px) {
    .ui {
        &.#{$prefixPageContent} {
            margin: 0 -#{$pageGutterSm};
            padding: 0 #{$pageGutterSm};
        }
    }
}

@media only screen and (min-width: 768px) {
    .ui.#{$prefixDrawerContent} {
        padding: 33px 22px;
    }
}

@media only screen and (max-width: 767px) {
    .ui.#{$prefixDrawerContent} {
        padding: 33px 22px;
        transition: margin-top 333ms ease-in-out;
        &-has_action_bar_mobile_search_visible {
            margin-top: 55px;
        }
    }
}
