@import './pageVariables';

$prefixDrawerContent: drawer--content;
$prefixPageContent: page--content;

.ui {
    &.#{$prefixDrawerContent} {
        padding: 33px 22px;
    }
    &.#{$prefixPageContent} {
        margin: 0 -#{$pageGutterSm};
        padding: 0 #{$pageGutterSm};
    }
    &.#{$prefixDrawerContent}, &.#{$prefixPageContent} {
        position: relative;
        transition: margin 200ms ease-out;
        z-index: 0;
        &-filters_rail_open {
            margin-left: 250px;
        }
        &-scrollable {
            overflow-x: scroll;
        }
    }
}

@media only screen and (min-width: 496px) {
    .ui {
        &.#{$prefixPageContent} {
            margin: 0 -#{$pageGutter496};
            padding: 0 #{$pageGutter496};
        }
    }
}

@media only screen and (min-width: 768px) {
    .ui.#{$prefixDrawerContent} {
        padding: 33px 22px;
    }
}
