@import '../shared/styles/colors', '../shared/styles/fonts', '../shared/styles/fontSizeCalculator';


.ui {
    &.page--filters_drawer .drawer-container-inner, .page_filters_drawer--nested_toggles_wing .drawer--wing-container-inner {
        padding-top: 49px !important; // sass-lint:disable-line no-important
    }
    .page_filters_drawer, .nested_toggles_wing {
        &--title_bar {
            background-color: color(backgroundColorLight);
            border-bottom-color: color(borderColor);
            height: 49px;
            padding: 0 11px;
            .drawer--title_bar_inner {
                align-items: center;
                display: flex;
                height: 49px;
            }
        }
    }
    .nested_toggles_wing {
        &--close_button {
            width: 16px;
            z-index: 2;
        }
        &--title {
            margin-bottom: 22px;
        }
    }
    .page_filters_drawer {
        &--actions {
            align-items: center;
            display: flex;
            flex-grow: 1;
            padding-right: 38px;
        }
        &--clear_column {
            display: flex;
            flex-grow: 1;
            height: 18px;
        }
        &--row {
            margin-bottom: rem(44px);
            &:last-child {
                margin-bottom: 0;
            }
        }
        &--header {
            margin-bottom: rem(22px);
        }
        &--item {
            margin-bottom: 11px;
            &-checkbox, &-toggle {
                margin-bottom: 22px;
            }
            &-nested_toggles, &:last-child {
                margin-bottom: 0;
            }
            &-nested_toggles {
                &:first-child .page_filters_drawer--nested_toggles_label {
                    border-top: 1px solid color(borderColor);
                }
                &:not(:last-child) .page_filters_drawer--nested_toggles_label {
                    + div {
                        border-bottom: 1px solid color(borderColor);
                    }
                }
            }
            &-toggle {
                .ui.checkbox-toggle.checkbox-align-right label > span {
                    text-align: left;
                    width: 100%;
                }
                .item_toggle--label_with_icon {
                    align-items: center;
                    display: flex;
                }
            }
        }
        &--nested_toggles_label,
        &--nested_toggles_value_label,
        &_wing--option {
            align-items: center;
            display: flex;
            font-size: rem(14px);
            padding: 0 11px;
            > span {
                flex-grow: 1;
            }
        }
        &--nested_toggles_label, &_wing--option {
            border-bottom: 1px solid color(borderColor);
            cursor: pointer;
            font-weight: $default-font-weight-semibold;
            margin: 0 -11px;
            min-height: 43px;
            transition: background-color 200ms ease-in;
        }
        &--nested_toggles_label {
            + div {
                margin: 0 -11px;
                padding: 22px 11px 33px;
            }
        }
        &--nested_toggles_value_label {
            min-height: 24px;
        }
        &_wing--option {
            &:first-child {
                border-top: 1px solid color(borderColor);
            }
            &-selected {
                background-color: color(backgroundColorHighlight);
                color: color(colorInverse);
            }
        }
    }
}
