@import '../global/styles/colors';
@import './pageVariables';

$desktopActionBarHeight: 70px;
$desktopTitleBarHeight: 70px;
$mobileActionBarHeight: 50px;
$mobileTitleBarHeight: 55px;
$navWidth: 250px;

.ui.page {
    min-height: calc(100vh - #{$mobileTitleBarHeight}); // Accounts for the mobile TitleBar height
    padding: 0 $pageGutterXsm;
    position: relative;
    width: 100%;
    &-background_color_grey {
        background-color: color(backgroundColorNest);
    }
    &-background_color_white {
        background-color: color(backgroundColor);
    }
    &-has_action_bar {
        min-height: calc(100vh - 105px); // Accounts for the mobile TitleBar and ActionBar height $mobileTitleBarHeight + 50px
    }
    &--activity_indicator {
        animation-duration: 200ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        left: 50%;
        margin-top: calc(#{$mobileTitleBarHeight} / 2);
        position: fixed;
        top: 50%;
        &-enter {
            animation-name: pageActivityIndicatorEnter;
        }
        &-leave {
            animation-name: pageActivityIndicatorLeave;
        }
    }
}

@media only screen and (min-width: 508px) {
    .ui.page {
        padding: 0 $pageGutterSm;
    }
}

@media only screen and (min-width: 768px) {
    .ui.page {
        min-height: calc(100vh - #{$desktopTitleBarHeight}); // Accounts for the desktop TitleBar height
        &-has_action_bar {
            min-height: calc(100vh - 140px); // Accounts for the desktop TitleBar and ActionBar height: 70px + 70px
        }
        &--activity_indicator {
            margin-left: calc(#{$navWidth} / 2);
            margin-top: calc(#{$desktopTitleBarHeight} / 2);
        }
    }
}

@keyframes pageActivityIndicatorLeave {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes pageActivityIndicatorEnter {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
