@import '../shared/styles/colors';
$prefixDrawerDataGroup: drawer_data_group;
$prefixPageDataGroup: page_data_group;

.ui {
    .#{$prefixDrawerDataGroup}, .#{$prefixPageDataGroup} {
        padding: 22px;
        &_header_title {
            margin-bottom: 33px;
        }
        &-bleed {
            margin: 0 -22px;
        }
        > div:last-child {
            margin-bottom: 0;
        }
        .ui.list {
            width: 100%;
        }
        .data_group {
            &--row {
                display: flex;
                flex-direction: row;
                margin-bottom: 22px; 
            }
            &--row:not(.data_group--row-header_icon) {
                justify-content: space-between;
                margin-bottom: 22px;
            }
            &--field_name_and_value {
                margin-top: 10px; 
            }
       }
    }
}
