@import '../shared/styles/colors', '../shared/styles/fonts', '../shared/styles/fontSizeCalculator';

.ui.date-picker-input {
    display: inline-block;
    &.date_picker_input {
        &-fluid {
            display: block;
        }
    }
}
