@import '../shared/styles/colors', '../shared/styles/fonts', '../shared/styles/fontSizeCalculator';

.ui.date-picker-month {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    min-width: 210px;
    width: 100%;
}
