$divider-color: rgba(255, 255, 255, .25);
$prefixDrawerDetails: drawer--details;
$prefixPageDetails: page--details;

.ui {
    &.#{$prefixDrawerDetails}, &.#{$prefixPageDetails} {
        .ui.info-bar {
            padding: 11px;
        }
        .#{$prefixDrawerDetails}, .#{$prefixPageDetails} {
            &-columns-container {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -16px;
                > {
                    .#{$prefixDrawerDetails}, .#{$prefixPageDetails} {
                        &-column {
                            padding: 0 16px 11px;
                            &.divide {
                                display: flex;
                                margin-left: 16px;
                                position: relative;
                                .page--details-column-inner {
                                    padding: 0 16px;
                                }
                                &::before {
                                    background-color: $divider-color;
                                    content: '';
                                    height: 56%;
                                    left: 0;
                                    position: absolute;
                                    transform: translateY(20%);
                                    width: 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .ui {
        &.#{$prefixDrawerDetails}, &.#{$prefixPageDetails} {
            .ui.info-bar {
                padding: 22px;
            }
        }
    }
}
