@import '../shared/styles/colors', '../shared/styles/fonts', '../shared/styles/fontSizeCalculator', '../shared/styles/variables';

.ui.drawer--navigation {
    height: $drawer-navigation-height;
    left: 0;
    position: fixed;
    right: 0;
    z-index: $drawer-zindex;
}
