@import '../shared/styles/colors', '../shared/styles/fonts', '../shared/styles/fontSizeCalculator', '../shared/styles/variables';

.ui.drawer.has-drawer--title_bar .drawer-container-inner {
    padding-top: $drawer-title-bar-height;
}
.ui.drawer.has-drawer--title_bar {
    &.has-drawer--navigation, &.has-drawer--action_bar {
        .drawer--title_bar {
            border-bottom: 0;
        }
    }
}
.ui.drawer--title_bar {
    background-color: color(backgroundColor);
    border-bottom: 1px solid color(borderColorSecondary);
    height: $drawer-title-bar-height;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $drawer-zindex;
    > div {
        height: $drawer-title-bar-height;
        position: relative;
    }
    .title {
        display: block;
        left: 0;
        margin: 0;
        overflow: hidden;
        padding: 0 88px 0 11px;
        position: absolute;
        text-overflow: ellipsis;
        top: 50%;
        transform: translateY(-50%);
        white-space: nowrap;
        width: 100%;
    }
    .close-button {
        align-items: center;
        display: flex;
        height: 44px;
        justify-content: flex-end;
        position: absolute;
        right: 11px;
        top: 50%;
        transform: translateY(-50%);
        width: 44px;
    }
}

@media only screen and (min-width: 768px) {
    .ui.drawer--title_bar {
        .title {
            padding: 0 88px 0 22px;
        }
        .close-button {
            right: 22px;
        }
    }
}
