@import '../shared/styles/colors', '../shared/styles/fonts', '../shared/styles/fontSizeCalculator', '../shared/styles/variables';

.ui.drawer--wing {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1 !important;
    > div {
        background-color: $bkgd;
        border-left: 1px solid $border;
        height: 100%;
        position: relative;
        transform: translate(100%, 0);
        // transition: background-color 200ms ease-in;
        width: 100%;
    }
    .drawer--wing-container {
        background-color: $bkgd;
        color: $color-text;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: background-color 200ms ease-in;
        width: 100%;
    }
    &.color-blue {
        .drawer--wing-container {
            background-color: $bkgd-blue;
            color: $color-text-inverse;
        }
    }
    &.color-grey {
        .drawer--wing-container {
            background-color: $bkgd-nest;
        }
    }
    &.left-position {
        > div {
            border-left: none;
            border-right: 1px solid $border;
            transform: translate(-100%, 0);
        }
        .drawer--wing-container {
            left: inherit;
            right: 0;
        }
    }
}

@media only screen and (max-width: 767px) {
    .ui.drawer.has-drawer--wing {
        .drawer-container {
            transform: translate(-100%) !important;
        }
        .ui.drawer--wing {
            > div {
                border-left: 0 !important;
            }
            .drawer--wing-container {
                width: 100% !important;
            }
        }
        &.drawer--wing-animate-out .drawer-container {
            transform: translate(0) !important;
        }
        &.left-position {
            .drawer-container {
                transform: translate(100%) !important;
            }
            .ui.drawer--wing {
                > div {
                    border-right: 0 !important;
                }
            }
        }
    }
}
