@import '../shared/styles/colors', '../shared/styles/fonts', '../shared/styles/fontSizeCalculator', '../shared/styles/variables';

// The drawers z-index's starts at 10000
$zindex: $drawer-zindex;

html:not(.ua-ie-edge):not(.ua-ie-11) body {
    &.drawer-open {
        overflow-y: scroll;
        position: fixed;
        width: 100%;
    }
    &.drawer-dimmers .drawer-dimmer {
        animation: fadeInDimmer 200ms forwards;
        backface-visibility: hidden;
        background-color: rgba(255, 255, 255, .7);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: $zindex + 2;
    }
}
.ui.drawer {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    min-width: 320px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zindex;
    .drawer-container {
        backface-visibility: hidden;
        background-color: $bkgd;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(100%, 0);
        transition: max-width 200ms ease-in-out, transform 333ms ease-in-out;
        width: 100%;

        > div > div:last-child { z-index: $zindex; }
    }
    &.left-position .drawer-container {
        left: 0;
        right: inherit;
        transform: translate(-100%, 0);
    }
    > div > div:last-child { z-index: $zindex; } // Vertical scrollbar
    .drawer-container-inner {
        position: relative;
    }
    &.drawer-animate-out .drawer-dimmer {
        animation: fadeOutDimmer 100ms forwards;
        animation-delay: 200ms;
    }
}

@keyframes fadeInDimmer {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOutDimmer {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
