@import '../shared/styles/Colors';

.ui.page--filters_drawer {
    &.ui.drawer .drawer-container-inner {
        padding-top: 49px;
        .ui.drawer--title_bar {
            background-color: $bkgd-light;
            border-bottom-color: $border;
            height: 49px;
            > div {
                height: 49px;
            }
            .ui.header.title {
                display: flex;
            }
        }
    }
}
