@import '../shared/styles/colors', '../shared/styles/fontSizeCalculator';

.ui {
    .page_grid {
        &--card {
            margin-bottom: 11px !important; // sass-lint:disable-line no-important
            margin-top: 11px !important; // sass-lint:disable-line no-important
        }
        &--card_container {
            display: flex !important; // sass-lint:disable-line no-important
            flex-wrap: wrap !important; // sass-lint:disable-line no-important
            margin: -11px -27px -22px !important; // sass-lint:disable-line no-important
        }
    }
    .page_card--column {
        padding: 0 16px 11px;
    }
}

@media only screen and (min-width: 768px) {
    .ui {
        &.page--grid {
            margin: 0 -11px;
        }
        .page_grid--card_container {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -16px -11px;
        }
    }
}
