@import '../shared/styles/colors', '../shared/styles/fontSizeCalculator';

.ui {
    .page--table_header_cell {
        padding-top: rem(11px) !important; // sass-lint:disable-line no-important
    }
}

.ui {
    .page--table_container {
        position: relative;
        .page--table_fixed_column {
            left: 0;
            position: absolute;
            top: 0;
            .ui.table.table-stretch-very {
                .table-cell:last-child {
                    padding-right: inherit;
                }
                .table-header-cell:last-child {
                    padding-right: inherit;
                }
            }
        }
        .page--table_fixed_body {
            overflow: auto;
        }
    }
}
