@import '../shared/styles/colors';

.ui.page--action_bar {
    align-items: center;
    background-color: color(backgroundColorLight);
    border-bottom: 1px solid color(borderColor);
    border-top: 1px solid color(borderColor);
    display: flex;
    justify-content: flex-start;
    left: 0;
    min-height: 70px;
    padding: 0 22px;
    position: fixed;
    right: 0;
    top: 55px;
    width: auto;
    z-index: 3;
    .ui.grid {
        flex-wrap: nowrap;
        margin: 0;
        width: 100%;
        > .grid-col {
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
        .ui.list {
            align-items: center;
            display: flex;
            justify-content: center;
            .list-item {
                align-items: center;
                align-self: stretch;
                display: inline-flex;
                justify-content: center;
                padding: 0 rem(11px);
                &::before { height: 88% !important; } // sass-lint:disable-line no-important
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .ui.page--action_bar {
        left: 250px;
        top: 70px;
    }
}
