@font-face {
  font-family: 'react-cm-ui';
  src:
    url('../fonts/react-cm-ui.woff2?ai171m') format('woff2'),
    url('../fonts/react-cm-ui.ttf?ai171m') format('truetype'),
    url('../fonts/react-cm-ui.woff?ai171m') format('woff'),
    url('../fonts/react-cm-ui.svg?ai171m#react-cm-ui') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'react-cm-ui' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-spinner:before {
  content: "\e97b";
}
.i-link:before {
  content: "\e9cb";
}
.i-activity:before {
  content: "\e964";
}
.i-award:before {
  content: "\e901";
}
.i-archive:before {
  content: "\e902";
}
.i-ban:before {
  content: "\e91f";
}
.i-block:before {
  content: "\e949";
}
.i-book-open:before {
  content: "\e903";
}
.i-calendar:before {
  content: "\e904";
}
.i-cards:before {
  content: "\e965";
}
.i-check:before {
  content: "\e94a";
}
.i-check-circle:before {
  content: "\e950";
}
.i-check-square:before {
  content: "\e905";
}
.i-circle:before {
  content: "\e95c";
}
.i-circle-filled:before {
  content: "\e922";
}
.i-clock:before {
  content: "\e958";
}
.i-cloud-upload:before {
  content: "\e90c";
}
.i-cog:before {
  content: "\e91c";
}
.i-comment:before {
  content: "\e952";
}
.i-comment-sms:before {
  content: "\e91d";
}
.i-duplicate:before {
  content: "\e920";
}
.i-ellipsis-h:before {
  content: "\e953";
}
.i-email:before {
  content: "\e95b";
}
.i-exclamation:before {
  content: "\e956";
}
.i-feet:before {
  content: "\e906";
}
.i-file:before {
  content: "\e908";
}
.i-filter:before {
  content: "\e91e";
}
.i-gift:before {
  content: "\e909";
}
.i-hand-stop:before {
  content: "\e90a";
}
.i-heart:before {
  content: "\e90b";
}
.i-history:before {
  content: "\e90d";
}
.i-info:before {
  content: "\e924";
}
.i-list:before {
  content: "\e95d";
}
.i-map-marker:before {
  content: "\e95a";
}
.i-ministry:before {
  content: "\e90e";
}
.i-note:before {
  content: "\e90f";
}
.i-paperclip:before {
  content: "\e900";
}
.i-pencil:before {
  content: "\e907";
}
.i-phone:before {
  content: "\e937";
}
.i-plus:before {
  content: "\e934";
}
.i-question-circle:before {
  content: "\e923";
}
.i-reassign:before {
  content: "\e959";
}
.i-search:before {
  content: "\e960";
}
.i-send:before {
  content: "\e910";
}
.i-shield:before {
  content: "\e911";
}
.i-star:before {
  content: "\e912";
}
.i-times:before {
  content: "\e93e";
}
.i-user:before {
  content: "\e95e";
}
.i-user-alt:before {
  content: "\e913";
}
.i-users:before {
  content: "\e921";
}
.i-workflow:before {
  content: "\e957";
}
.i-caret-up:before {
  content: "\e967";
}
.i-caret-right:before {
  content: "\e968";
}
.i-caret-down:before {
  content: "\e969";
}
.i-caret-left:before {
  content: "\e96a";
}
.i-chevron-wh-down:before {
  content: "\e914";
}
.i-chevron-wh-left:before {
  content: "\e915";
}
.i-chevron-wh-right:before {
  content: "\e916";
}
.i-chevron-wh-up:before {
  content: "\e917";
}
.i-chevron-wl-down:before {
  content: "\e918";
}
.i-chevron-wl-left:before {
  content: "\e919";
}
.i-chevron-wl-right:before {
  content: "\e91a";
}
.i-chevron-wl-up:before {
  content: "\e91b";
}
.i-arrows-alt:before {
  content: "\e966";
}
