@import '../global/styles/colors', '../global/styles/fonts', '../global/styles/fontSizeCalculator';

.date-picker-dropdown-year {
    background-color: color(backgroundColor);
    border: 1px solid color(borderColor);
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .06);
    height: 236px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    z-index: 10;
    ul { list-style: none; margin: 0; padding: 4px 0; }
        li {
            margin: 7px 0 0;
            &:last-child { margin-bottom: 7px; }
        }
            a {
                color: color(color);
                display: block;
                font-size: rem(14px);
                font-weight: $default-font-weight-semibold;
                padding: 4px 22px;
                text-align: left;
                transition: color 150ms ease-out;
            }
            .date-picker-year-option-is-selected a, a:hover { color: color(colorHighlight); }
}
