@import '../global/styles/colors', '../global/styles/fonts', '../global/styles/fontSizeCalculator';

.ui.date-picker-week {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    min-width: 210px;
    width: 100%;
    &:last-child { margin-bottom: 0; }
}
