@import '../global/styles/colors', '../global/styles/fonts', '../global/styles/fontSizeCalculator';

.ui.duration-picker {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    .colon { display: none; }
    .duration-picker-input { width: 100%; }
    .hh-mm-ss {
        width: 100%;
        .duration-picker-input:first-child { margin-top: -11px; }
        .duration-picker-input { margin-top: 22px }
    }
}

@media only screen and (min-width: 480px) {
    .ui.duration-picker {
        display: inline-flex;
        flex-direction: row;
        .duration-picker-input { margin: 0 11px 11px 0; width: 121px; }
        .colon { display: inline-flex; font-size: rem(24px); margin: 28px rem(11px) 0 rem(2.5px); }
        .hh-mm-ss {
            margin-top: -22px;
            width: auto;
            &.only-one { margin-top: 0 }
            .duration-picker-input:first-child { margin-top: 0 }
        }
    }
}
