// Note: Deprecated style variable names
$default-font-family: 'Source Sans Pro', sans-serif;
$default-font-weight-normal: 400;
$default-font-weight-semibold: 600;
$default-font-weight-bold: 700;

// NOTE: New style variable names
$fontFamily: $default-font-family;
$fontWeightRegular: $default-font-weight-normal;
$fontWeightBold: $default-font-weight-bold;
$fontWeightSemiBold: $default-font-weight-semibold;
