// ######## //
// Color Names
// NOTE: Don't use the color names in .scss files.
//       Only use the color(keyName) function below.
// ######## //
// Primary Nutrual Colors
$pcn-white:          #fff;
$pcn-grey-one:       #f6f7f8;
$pcn-grey-two:       #edf1f5;
$pcn-grey-three:     #dbe0e3;
$pcn-grey-four:      #97a4ab;
$pcn-grey-five:      #38424d;
$pcn-grey-six:       #1c2530;
// Secondary Colors
$sc-blue:            #134174;
$sc-blue-dark:       #00254d;
$sc-cyan:            #00aeef;
$sc-cyan-dark:       #1c93c4;
$sc-sky:             #6dcff6;
$sc-sky-dark:        #4095b6;
$sc-teal:            #56c4c4;
$sc-teal-dark:       #329594;
$sc-green:           #54cd86;
$sc-green-dark:      #398f5d;
$sc-orange:          #f99e49;
$sc-orange-dark:     #c96d20;
$sc-red-orange:      #f27a4d;
$sc-red-orange-dark: #d94710;
$sc-red:             #ee4334;
$sc-red-dark:        #c2241a;
$sc-pink:            #eb4ea1;
$sc-pink-dark:       #c23680;
$sc-purple:          #c68ef6;
$sc-purple-dark:     #9958d2;

// ######## //
// Colors Map //
// NOTE: Use common names when creating new keys.
//       Try hard as posible to stay away from specific element names.
//       Don't use color names as a key names. e.g. 'backgroundColorPink <--- DON'T DO
//       The methodology for this pattern is to not have a growing list of key names in our map.
// ######## //
$colors-map: (
    // Background Colors
    'backgroundColor':                    $pcn-white,
    'backgroundColorDisable':             $pcn-grey-two,
    'backgroundColorAlert':               $sc-red,
    'backgroundColorAlertDark':           $sc-red-dark,
    'backgroundColorHighlight':           $sc-cyan,
    'backgroundColorHighlightDark':       $sc-cyan-dark,
    'backgroundColorInverse':             $pcn-grey-six,
    'backgroundColorInverseAlternate':    $pcn-grey-five,
    'backgroundColorLight':               $pcn-grey-one,
    'backgroundColorNest':                $pcn-grey-two,
    'backgroundColorStatic':              $pcn-grey-four,
    'backgroundColorSuccess':             $sc-green,
    'backgroundColorSuccessDark':         $sc-green-dark,
    'backgroundColorWarning':             $sc-orange,
    'backgroundColorWarningDark':         $sc-orange-dark,
    'backgroundColorButton':              $sc-cyan-dark,
    'backgroundColorButtonDisable':       $pcn-grey-three,
    'backgroundColorButtonAlert':         $sc-red,
    'backgroundColorButtonAlternate':     $pcn-grey-five,
    'backgroundColorButtonSecondary':     $sc-blue,
    'backgroundColorButtonSuccess':       $sc-green,
    'backgroundColorPurple':              $sc-purple, // Rename when better define,
    'backgroundColorTeal':                $sc-teal, // Rename when better define,
    'backgroundColorBlue':                $sc-blue, // Remove when better define,
    'backgroundColorSky':                 $sc-sky, // Remove when better define,
    // Border Colors
    'borderColor':                  $pcn-grey-three,
    'borderColorSecondary':         $pcn-grey-two,
    'borderColorTertiary':          $pcn-grey-four,
    'borderColorQuaternary':        $pcn-grey-five,
    'borderColorQuinary':           $pcn-grey-six,
    'borderColorHighlight':         $sc-cyan,
    'borderColorInverse':           $pcn-white,
    // Colors
    'colorText':               $pcn-grey-six,
    'colorTextInverse':        $pcn-white,
    'colorTextDisable':        $pcn-grey-three,
    'colorTextHighlight':      $sc-cyan,
    'colorTextLink':           $sc-cyan,
    'colorTextStatic':         $pcn-grey-four,
    'colorTextAlert':          $sc-red,
    'colorTextWarning':        $sc-orange,
    'colorTextSecondary':      $sc-teal-dark,
    'colorTextCode':           $sc-red-orange-dark,
    'colorTextSuccess':        $sc-green,
);

@function color($key) {
    @return map-get($colors-map, $key);
}

// ######## //
// Exported Colors Map //
// NOTE: To be used in JS files. e.g. 'style={{ backgroundColor: backgroundColorInverse }}'
//       Kind of cool.
// ######## //
:export {
    @each $key, $value in $colors-map {
        #{unquote($key)}: $value;
    }
}
