// ######## //
// Color Names
// NOTE: Don't use the color names in .scss files.
//       Only use the Types variables below.
// ######## //
// Primary Nutrual Colors
$pcn-white:          #fff;
$pcn-grey-one:       #f6f7f8;
$pcn-grey-two:       #edf1f5;
$pcn-grey-three:     #dbe0e3;
$pcn-grey-four:      #97a4ab;
$pcn-grey-five:      #38424d;
$pcn-grey-six:       #1c2530;
// Secondary Colors
$sc-blue:            #134174;
$sc-blue-dark:       #00254d;
$sc-cyan:            #00aeef;
$sc-cyan-dark:       #1c93c4;
$sc-sky:             #6dcff6;
$sc-sky-dark:        #4095b6;
$sc-teal:            #56c4c4;
$sc-teal-dark:       #329594;
$sc-green:           #54cd86;
$sc-green-dark:      #398f5d;
$sc-orange:          #f99e49;
$sc-orange-dark:     #c96d20;
$sc-red-orange:      #f27a4d;
$sc-red-orange-dark: #d94710;
$sc-red:             #ee4334;
$sc-red-dark:        #c2241a;
$sc-pink:            #eb4ea1;
$sc-pink-dark:       #c23680;
$sc-purple:          #c68ef6;
$sc-purple-dark:     #9958d2;

// ######## //
// Types //
// NOTE: Use common names when creating new variables.
//       Try as hard as posible to stay away from element specific names.
//       Don't use color names as a variable names. e.g. $bkgd-pink <--- DON'T DO
//       The whole philosophy behind this is to not have a growing list of variable names.
// ######## //
// Backgrounds
$bkgd:                      $pcn-white;
$bkgd-disable:              $pcn-grey-two;
$bkgd-alert:                $sc-red;
$bkgd-alert-dark:           $sc-red-dark;
$bkgd-highlight:            $sc-cyan;
$bkgd-highlight-dark:       $sc-cyan-dark;
$bkgd-inverse:              $pcn-grey-six;
$bkgd-inverse-alternate:    $pcn-grey-five;
$bkgd-light:                $pcn-grey-one;
$bkgd-nest:                 $pcn-grey-two;
$bkgd-static:               $pcn-grey-four;
$bkgd-success:              $sc-green;
$bkgd-success-dark:         $sc-green-dark;
$bkgd-warning:              $sc-orange;
$bkgd-warning-dark:         $sc-orange-dark;
$bkgd-button:               $sc-cyan-dark;
$bkgd-button-disable:       $pcn-grey-three;
$bkgd-button-alert:         $sc-red;
$bkgd-button-alternate:     $pcn-grey-five;
$bkgd-button-secondary:     $sc-blue;
$bkgd-button-success:       $sc-green;
$bkgd-purple:               $sc-purple; // Rename when better defined
$bkgd-teal:                 $sc-teal; // Rename when better defined
$bkgd-blue:                 $sc-blue; // Remove when better defined
$bkgd-sky:                  $sc-sky; // Remove when better defined
// Borders
$border:                    $pcn-grey-three;
$border-alternate:          $pcn-grey-four;
$border-highlight:          $sc-cyan;
$border-inverse:            $pcn-grey-five;
$border-inverse-alternate:  $pcn-grey-six;
$border-light:              $pcn-grey-two;
// Color
$color-text:                $pcn-grey-six;
$color-text-inverse:        $pcn-white;
$color-text-disable:        $pcn-grey-three;
$color-text-cta:            $sc-cyan;
$color-text-highlight:      $sc-cyan;
$color-text-link:           $sc-cyan;
$color-text-static:         $pcn-grey-four;
$color-text-alert:          $sc-red;
$color-text-warning:        $sc-orange;
$color-text-secondary:      $sc-teal-dark;
$color-text-code:           $sc-red-orange-dark;
$color-text-success:        $sc-green;
$color-text-subnav-blue:    $sc-blue-dark;

$theme-colors: (
    'bkgd':                    $bkgd,
    'bkgdDisable':             $bkgd-disable,
    'bkgdAlert':               $bkgd-alert,
    'bkgdAlertDark':           $bkgd-alert-dark,
    'bkgdHighlight':           $bkgd-highlight,
    'bkgdHighlightDark':       $bkgd-highlight-dark,
    'bkgdInverse':             $bkgd-inverse,
    'bkgdInverseAlternate':    $bkgd-inverse-alternate,
    'bkgdLight':               $bkgd-light,
    'bkgdNest':                $bkgd-nest,
    'bkgdStatic':              $bkgd-static,
    'bkgdSuccess':             $bkgd-success,
    'bkgdSuccessDark':         $bkgd-success-dark,
    'bkgdWarning':             $bkgd-warning,
    'bkgdWarningDark':         $bkgd-warning-dark,
    'bkgdButton':              $bkgd-button,
    'bkgdButtonDisable':       $bkgd-button-disable,
    'bkgdButtonAlert':         $bkgd-button-alert,
    'bkgdButtonAlternate':     $bkgd-button-alternate,
    'bkgdButtonSecondary':     $bkgd-button-secondary,
    'bkgdButtonSuccess':       $bkgd-button-success,
    'bkgdPurple':              $bkgd-purple,
    'bkgdTeal':                $bkgd-teal,
    'bkgdBlue':                $bkgd-blue,
    'bkgdSky':                 $bkgd-sky,
    // Borders
    'border':                  $border,
    'borderAlternate':         $border-alternate,
    'borderHighlight':         $border-highlight,
    'borderInverse':           $border-inverse,
    'borderInverseAlternate':  $border-inverse-alternate,
    'borderLight':             $border-light,
    // Color
    'colorText':               $color-text,
    'colorTextInverse':        $color-text-inverse,
    'colorTextDisable':        $color-text-disable,
    'colorTextCta':            $color-text-cta,
    'colorTextHighlight':      $color-text-highlight,
    'colorTextLink':           $color-text-link,
    'colorTextStatic':         $color-text-static,
    'colorTextAlert':          $color-text-alert,
    'colorTextWarning':        $color-text-warning,
    'colorTextSecondary':      $color-text-secondary,
    'colorTextCode':           $color-text-code,
    'colorTextSuccess':        $color-text-success,
    'colorTextSubnavBlue':     $color-text-subnav-blue,
);

:export {
    @each $key, $value in $theme-colors {
        #{unquote($key)}: $value;
    }
}
