@import './colors', './fonts', './fontSizeCalculator';

// Source Sans Pro
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,600italic,400italic,700italic);

// Droid Serif - Bold Italic & Droid Sans Mono
@import url('//fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Serif:700italic');

html { font-size: 100%; }
    body {
        color: color(colorText);
        font-family: $default-font-family;
        font-size: em(16px);
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-weight: $default-font-weight-normal;
        //letter-spacing: .7px;
        line-height: 1.375;
    }
        //Links
        a {
            color: color(colorTextLink);
            cursor: pointer;
            font-weight: $default-font-weight-semibold;
            text-decoration: none;
        }
        // Text/Element Selection Highlight
        ::selection { background: color(colorTextLink); color: color(colorTextInverse); }
        // Text Colors
        .color-alert { color: color(colorTextAlert); }
        .color-disable { color: color(colorTextDisable); }
        .color-highlight { color: color(colorTextHighlight); }
        .color-inverse { color: color(colorTextInverse); }
        .color-link { color: color(colorTextLink); }
        .color-static { color: color(colorTextStatic); }
        .color-success { color: color(colorTextSuccess); }
        .color-text { color: color(colorText); }
        .color-warning { color: color(colorTextWarning); }
        // Font Sizes
        .font-size-xlarge { font-size: em(24px); }
        .font-size-large { font-size: em(20px); }
        .font-size-medium { font-size: em(18px); }
        .font-size-small { font-size: em(16px); }
        .font-size-xsmall { font-size: em(14px); }
        .font-size-xxsmall { font-size: em(12px); }
        // Font Weights
        .font-weight-normal { font-weight: $default-font-weight-normal; }
        .font-weight-semibold { font-weight: $default-font-weight-semibold; }
        .font-weight-bold { font-weight: $default-font-weight-bold; }
        // Text Decoration
        .text-decoration-underline { border-bottom: 2px solid color(borderColorQuinary); display: inline-block; padding: 0 0 5px; }
        a.text-decoration-underline { border-bottom-color: color(borderColorHighlight); }
        // Label
        .label { color: color(colorTextStatic); display: block; font-size: em(14px); }
        // Code e.g. .im-a-selector
        code {
            background-color: #f9f0ed;
            border-radius: 4px;
            color: color(colorTextCode);
            font-size: 90%;
            padding: 2px 4px;
        }
