@import 'config/ColorsNew', 'config/FontSizeCalculator';

.ui.table {
    background-color: $bkgd;
    border: 1px solid $border;
    border-collapse: separate;
    border-radius: 3px;
    border-spacing: 0;
    color: $color-text;
    margin: calc(2rem - .14285em) 0 1rem;
    text-align: left;
    width: 100%;
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
    &.table-basic { border: 0; }
    &.table-collapsing { width: auto; }
    &.table-color- {
        &grey-xxlight { background-color: $bkgd-nest; }
    }
    &.table-fixed { table-layout: fixed; }
    &.table-single-line { white-space: nowrap; }
}
