@import '../shared/styles/colors';
@import '../shared/styles/fonts';
@import '../shared/styles/fontSizeCalculator';

.ui.divider {
    border-bottom: 1px solid color(borderColor);
    height: 0;
    letter-spacing: .05em;
    line-height: 1;
    margin: rem(11px) 0;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    &.divider-compact { margin: 0; }
    &.divider-hidden { border: 0; }
    &.divider-color- {
        &alternate { border-color: color(borderColorTertiary); }
        &highlight { border-color: color(borderColorHighlight); }
        &inverse { border-color: color(borderColorQuaternary); }
        &inverse-alternate { border-color: color(borderColorQuinary); }
        &primary { border-color: color(borderColorSecondary); }
    }
    &.divider-inverse.divider-color- {
        &alternate { border-color: color(borderColorTertiary); }
        &highlight { border-color: color(borderColorHighlight); }
        &inverse { border-color: color(borderColorQuaternary); }
        &inverse-alternate { border-color: color(borderColorQuinary); }
        &primary { border-color: color(borderColorTertiary); }
    }
    &.divider-relaxed {
        margin: rem(22px) 0;
        &-very { margin: rem(33px) 0; }
    }
}
