@import 'config/ColorsNew', 'config/fonts', 'config/FontSizeCalculator', 'config/Variables';

.ui.container {
    background-color: $bkgd;
    min-height: 100%;
    padding: 0 11px;
    width: 100%;
    &.container-color {
        &-inverse { background-color: $bkgd-inverse; }
        &-light { background-color: $bkgd-light; }
        &-nest { background-color: $bkgd-nest; }
        &-transparent { background-color: transparent; }
    }
    .container-content {
        margin: 0 auto;
        max-width: 1720px - $nav-width;
        position: relative;
        width: 100%;
    }
    .container-content-max-width {
        &-laptop { max-width: 1024px - $nav-width - 44px; }
    }
}
.container-action-bar {
    background-color: $bkgd;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
    min-height: 0;
    padding: 11px 22px;
    width: auto;
    &.container-action-bar-color {
        &-inverse { background-color: $bkgd-inverse; }
        &-light { background-color: $bkgd-light; }
        &-nest { background-color: $bkgd-nest; }
        &-primary { background-color: $bkgd; }
        &-transparent { background-color: transparent; }
    }
    &.container-action-bar-stretch { margin: 0 -11px; }
}
.ui.sub-navigation + .container-action-bar { border-top: 0; }

@media only screen and (min-width: 768px) {
    .ui.container { padding: 0 22px; }
    .container-action-bar {
        &.container-stretch { margin: 0 -22px; }
    }
}
