@import '../shared/styles/colors', '../shared/styles/fonts', '../shared/styles/fontSizeCalculator';

%bar_properties {
    background-color: color(backgroundColorHighlight);
    border-radius: $circleSize / 2;
    height: $circleSize;
    position: absolute;
    width: $circleSize;
}

.activity_indicator {
    display: inline-flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    position: relative;
    width: 70px;
    &--left, &--middle, &--right {
        display: flex;
        flex-direction: column-reverse;
        height: $barHeight;
        position: relative;
        width: $circleSize;
    }
    &--circle {
        @extend %bar_properties;
    }
    &--bar {
        @extend %bar_properties;
        opacity: 0;
    }
}
