@import '../shared/styles/colors', '../shared/styles/fonts', '../shared/styles/fontSizeCalculator';

.ui.comment {
    margin: 11px 0;
    .comment-details {
        margin-bottom: 11px;
    }
    .comment-name {
        display: block;
        font-size: rem(16px);
        font-weight: $default-font-weight-semibold;
    }
    .comment-time {
        color: color(colorTextStatic);
        display: block;
        font-size: rem(14px);
    }
    .comment-bubble {
        background: color(backgroundColor);
        border-radius: 3px;
        box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, .10), 1px 1px 2px 0 rgba(0, 0, 0, .10);
        font-size: rem(14px);
        padding: 11px;
        white-space: pre-wrap;
        width: 100%;
    }
}
