@import '../shared/styles/Colors', '../shared/styles/Fonts', '../shared/styles/FontSizeCalculator';

.ui.label {
    align-items: center;
    background-color: $bkgd-light;
    box-shadow: inset 0 0 0 1px $border;
    border-radius: 3px;
    color: $color-text;
    display: inline-flex;
    font-size: rem(14px);
    font-weight: $default-font-weight-normal;
    height: 30px;
    justify-content: flex-start;
    letter-spacing: 1px;
    line-height: 1;
    margin-right: 11px;
    outline: none;
    overflow: hidden;
    padding: 0 rem(11px);
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    transition: background-color 125ms linear, color 125ms linear, opacity 250ms ease-out;
    white-space: normal;
    &.label-color- {
        &alert, &highlight, &success,
        &warning {
            box-shadow: none;
            color: $color-text-inverse;
            font-weight: $default-font-weight-semibold;
        }
        &alert { background-color: $bkgd-alert; }
        &highlight { background-color: $bkgd-highlight; }
        &primary { background-color: $bkgd-light; box-shadow: inset 0 0 0 1px $border; }
        &success { background-color: $bkgd-success; }
        &transparent { background-color: transparent; box-shadow: none; }
        &warning { background-color: $bkgd-warning; }
    }
    &.label-inverse.label-color- {
        &alert, &highlight, &success,
        &warning {
            box-shadow: none;
            color: $color-text-inverse;
            font-weight: $default-font-weight-semibold;
        }
        &alert { background-color: $bkgd-alert; }
        &highlight { background-color: $bkgd-highlight; }
        &primary { background-color: $bkgd-light; box-shadow: inset 0 0 0 1px $border; }
        &success { background-color: $bkgd-success; }
        &transparent { background-color: transparent; color: $color-text-inverse; font-weight: $default-font-weight-semibold; }
        &warning { background-color: $bkgd-warning; }
    }
    &.label-clearable {
        padding-right: 0;
        .label-clearable-button {
            align-items: center;
            background-color: $bkgd-static;
            border-radius: 0 3px 3px 0;
            box-shadow: inset 1px 0 0 $border-alternate;
            color: $color-text-inverse;
            cursor: pointer;
            display: inline-flex;
            height: 30px;
            justify-content: center;
            margin: 0 0 0 11px;
            transition:
                background-color 150ms linear,
                box-shadow 150ms linear,
                color 75ms linear;
            width: 20px;
            .ui.icon { color: inherit; }
            &:hover { background-color: transparent; box-shadow: inset 1px 0 0 $border; color: $color-text-static; }
        }
        &.label-color- {
            &alert, &highlight, &success, &warning {
                .label-clearable-button {
                    box-shadow: none;
                    &:hover { background-color: transparent; color: $color-text-inverse; }
                }
            }
            &alert .label-clearable-button {
                background-color: $bkgd-alert-dark;
                &:hover { box-shadow: inset 1px 0 0 $bkgd-alert-dark; }
            }
            &highlight .label-clearable-button {
                background-color: $bkgd-highlight-dark;
                &:hover { box-shadow: inset 1px 0 0 $bkgd-highlight-dark; }
            }
            &primary .label-clearable-button {
                background-color: $bkgd-static;
                box-shadow: inset 1px 0 0 $border-alternate;
                &:hover { background-color: transparent; box-shadow: inset 1px 0 0 $border; color: $color-text-static; }
            }
            &success .label-clearable-button {
                background-color: $bkgd-success-dark;
                &:hover { box-shadow: inset 1px 0 0 $bkgd-success-dark; }
            }
            &transparent .label-clearable-button {
                background-color: transparent;
                box-shadow: none;
                color: $color-text-static;
            }
            &warning .label-clearable-button {
                background-color: $bkgd-warning-dark;
                &:hover { box-shadow: inset 1px 0 0 $bkgd-warning-dark; }
            }
        }
    }
    &.label-clickable { cursor: pointer; }
    &.label-fluid { width: 100%; }
    .label-inner-container { width: 100%; }
}
