@import '../shared/styles/Colors';

.ui.page--filters_rail {
    margin-left: -22px;
    min-height: 100%;
    position: absolute;
    width: 250px;
    z-index: 1;
    > span {
        min-height: 100%;
    }
    .ui.rail {
        animation-duration: 200ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        height: auto;
        &::after {
            z-index: -1;
        }
    }
    .ui.rail.filters-rail-enter {
        animation-name: showFilterRail;
    }
    .ui.rail.filters-rail-leave {
        animation-name: hideFilterRail;
        padding: 0 20px;
    }
}

@keyframes hideFilterRail {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

@keyframes showFilterRail {
    0% { transform: translate(-100%, 0); }
    100% { transform: translate(0, 0); }
}
