@import '../shared/styles/Colors';

.ui.page--action_bar {
    align-items: center;
    background-color: $bkgd-light;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
    display: flex;
    justify-content: flex-start;
    left: 0;
    min-height: 70px;
    padding: 0 22px;
    position: fixed;
    right: 0;
    top: 55px;
    width: auto;
    z-index: 3;
}

@media only screen and (min-width: 768px) {
    .ui.page--action_bar {
        left: 250px;
        top: 70px;
    }
}
