@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/fontSizeCalculator';

$boxShadow: 0 4px 4px 0 rgba(0, 0, 0, 0.43);

.dropdown_menu {
    background-color: color(backgroundColorInverseAlternate);
    border-radius: 3px;
    border: 0;
    box-shadow: $boxShadow;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 0;
    position: absolute;
    transform: opacity 300ms ease-in;
    z-index: 1000;
    &-closed {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    &-opened {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    &--option {
        color: color(colorInverse);
        font-size: rem(14px);
        font-weight: $fontWeightSemiBold;
        text-align: left;
        padding: rem(4px) 0;
        &:first-child { padding-top: rem(11px); }
        &:last-child { padding-bottom: rem(11px); }
        &_inner {
            align-items: center;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            padding: rem(7px) rem(22px);
            transition: background-color 150ms ease-out, color 150ms ease-out;
            white-space: nowrap;
            &:hover {
                background-color: color(backgroundColor);
                color: color(color);
                .ui.icon-color-primary.icon-inverse {
                    .icon-use-path { fill: color(color); }
                }
            }
        }
        &-disable {
            color: color(colorStatic);
            cursor: default;
            pointer-events: none;
        }
    }
}
