@import '../../config/Colors', '../../config/Fonts', '../../config/FontSizeCalculator';

.ui.date-picker-month {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    min-width: 210px;
    width: 100%;
}
