@import 'config/Colors', 'config/Fonts', 'config/FontsizeCalculator';

.ui.date-picker-month {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}
