@import '../../config/Colors', '../../config/Fonts', '../../config/FontSizeCalculator';

// The drawers z-index's starts at 9000
$zindex: 9000;

html:not(.ua-ie-edge):not(.ua-ie-11) body {
    &.drawer-open {
        overflow-y: scroll;
        position: fixed;
        width: 100%;
        &.drawer-dimmers {
            #coreApp::after {
                background: $bkgd-disable;
                content: '';
                height: 100%;
                left: 0;
                mix-blend-mode: saturation;
                opacity: 1;
                position: fixed;
                top: 0;
                transition: opacity 100ms linear;
                width: 100%;
            }
            &.drawer-animate-out #coreApp::after { opacity: 0; }
        }
    }

}
.ui.drawer {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    min-width: 320px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zindex;
    .drawer-container {
        backface-visibility: hidden;
        background-color: $bkgd;
        height: 100%;
        max-width: 768px;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(100%, 0);
        &.left-position {
            right: inherit;
            left: 0;
            transform: translate(-100%, 0);
        }
        transition: max-width 200ms ease-in-out, transform 200ms ease-in-out;
        width: 100%;
        &.drawer-container-inverse {
            background: $bkgd-inverse-alternate;
            color: $color-text-inverse;
            .drawer-container-inner .drawer-header {
                background: $bkgd-inverse-alternate;
                color: $color-text-inverse;
            }
        }
        &.color {
            &-dark-blue {
                background: $bkgd-blue;
                color: $color-text-inverse;
                .drawer-container-inner .drawer-header {
                    background: $bkgd-blue;
                    color: $color-text-inverse;
                }
            }
        }
        &.drawer-container-no-header {
            .drawer-close-button {
                position: fixed;
                right: 11px;
                top: 11px;
                z-index: 1;
            }
        }
        > div > div:last-child { z-index: $zindex; }
    }
        .drawer-container-inner {
            position: relative;
            .drawer-header {
                align-items: flex-start;
                background-color: $bkgd;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                left: 0;
                padding: 22px 0 0;
                position: fixed;
                top: 0;
                transition: box-shadow 150ms linear;
                width: 100%;
                z-index: $zindex;
                .avatar-container {
                    top: -6px;
                }
                .title {
                    align-items: flex-start;
                    display: flex;
                    flex: 1 1 1px;
                    justify-content: flex-start;
                    margin: -4px 0 0;
                    padding: 0 33px 0 22px;
                    width: 100%;
                    &.drawer-title-truncate {
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .drawer-close-button-container {
                    align-items: center;
                    display: flex;
                    flex: 0 1 1px;
                    justify-content: center;
                    margin: 0 22px 0 11px;
                    width: 44px;
                }
                .ui.divider, .drawer-header-children { flex: 0 1 100%; margin: 21px 0 0;  }
            }
            .drawer-children > :first-child { margin-top: 0; } // TODO: Before commiting find out a new way of either having the container or doing first-child somewhere else.
            .drawer-pushdown { margin-top: 66px; }
        }
        .drawer-container-inverse .drawer-header .drawer-close-button-container { margin: -8px 8px 0 11px; }
        .drawer-container-is-scrolled .drawer-header { box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .20); }
    &.drawer-animate-out .drawer-dimmer { animation: fadeOutDimmer 100ms forwards; animation-delay: 200ms; }
    .drawer-container {
        .drawer-wing-container {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
            > div {
                background-color: $bkgd;
                height: 100%;
                position: relative;
                transform: translate(100%, 0);
                width: 100%;
            }
            &.left-position > div {
                transform: translate(-100%, 0);
            }
        }
            .drawer-wing {
                background-color: $bkgd;
                color: $color-text;
                height: 100%;
                left: 0;
                padding: 22px;
                position: absolute;
                top: 0;
                width: 100%;
                &.color {
                    &-dark-blue { background-color: $bkgd-blue; color: $color-text-inverse; }
                }
            }

            .drawer-wing-container.left-position .drawer-wing {
                left: inherit;
                right: 0;
            }
    }
}
.drawer-dimmers .drawer-dimmer {
    animation: fadeInDimmer 150ms forwards;
    backface-visibility: hidden;
    background-color: rgba(255, 255, 255, .3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $zindex + 2;
}

@media only screen and (min-width: 768px) {
    .ui.drawer {
        .drawer-container-inner .drawer-header .drawer-close-button-container { width: 33px; }
        .drawer-container-inverse .drawer-header .drawer-close-button-container { margin: -5px 11px 0 11px; }
    }
}

@keyframes fadeInDimmer {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOutDimmer {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
