@import '../../config/Colors', '../../config/Fonts', '../../config/FontSizeCalculator';

$width: 65px;

.ui.phone-input {
    color: $color-text;
    display: inline-block;
    font-size: em(16px);
    .label { margin-bottom: em(8px); }
        .input-required-indicator {
            color: $color-text-alert;
            display: inline-block;
            font-size: rem(14px);
            margin-left: 3px;
        }
    .phone-input-fields {
        align-items: flex-start;
        display: inline-flex;
        justify-content: flex-start;
        .ui.dropdown {
            display: inline-block;
            flex: 0 1 $width;
            max-width: $width;
            min-width: $width;
            .Select-input { overflow: hidden; max-width: 38px; }
        }
            .flag-icon { with: 20px; }
        .ui.input { flex: 1 1 auto; margin: 0 0 0 11px; }
    }
}
