@import '../shared/styles/colors', '../shared/styles/variables';

$nav-width: 250px;

html, body, #coreApp, .core-app-root, .layout { height: 100%; }
    *, *::after, *::before { box-sizing: border-box; }
    body {
        background-color: color(backgroundColorLight);
        overflow-y: scroll;
        .layout { position: relative; right: 0; transition: right 166ms linear; }
        &.pushed-right {
            overflow-x: hidden;
            .layout { right: -$nav-width !important; }
        }
    }
    .core-app-root { min-width: 320px; }
        .main {
            background-color: color(backgroundColor);
            max-width: 1120px;
            min-height: 100%;
            padding: 0 11px 22px;
            > h1:first-child { margin-top: 0; }
            > :last-child { margin-bottom: 0; }
        }
        .demo {
            height: 100%;
            .demo--navigation {
                display: none;
            }
            .hidden-spacer {
                padding-top: 55px;
            }
            .ui.title-bar {
                left: 0;
                margin: 0;
                padding: 11px;
                position: fixed;
                right: 0;
                top: 0;
            }
        }

@media only screen and (min-width: 768px) {
    body.pushed-right {
        overflow: auto;
        .layout { right: 0 !important; }
    }
    .main { margin-left: $nav-width; padding: 0 22px 22px; }
    .demo {
        .demo--navigation {
            background-color: color(backgroundColorInverse);
            display: flex;
            flex-direction: column;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            transition-delay: 750ms;
            transition-property: opacity;
            user-select: none;
            width: $nav-width;
            z-index: $z-index-navigation;
            .ui.button {
                color: color(colorStatic);
                .button-inner-container .ui.icon .icon-use-path { fill: color(colorStatic); }
            }
        }
        .demo--layout {
            padding-left: $nav-width;
        }
        .hidden-spacer {
            padding-top: 70px;
        }
        .ui.title-bar {
            left: $nav-width;
            padding: 22px;
        }
    }
}
