@import '../shared/styles/colors', '../shared/styles/fonts', '../shared/styles/fontSizeCalculator';

.ui.block {
    background-color: color(backgroundColor);
    border: 1px solid color(borderColorSecondary);
    border-radius: 3px;
    padding: 11px;
    &.block-inverse { background-color: color(backgroundColorInverse); border: 0; }
    &.block-nest { background-color: color(backgroundColorNest); border: 0; }
}
