@import '../shared/styles/Colors', '../shared/styles/Fonts', '../shared/styles/FontSizeCalculator';

$nav-width: 266px;

.core-app-nav {
    background-color: $bkgd-inverse;
    color: $color-text-inverse;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition-delay: 750ms;
    transition-property: opacity;
    width: $nav-width;
    .core-app-nav-scrollbar-inner {
        padding: 95px 16px 22px;
        position: relative;
        > * { margin-top: 0; }
    }
        .logo-wrapper {
            align-items: center;
            background-color: $bkgd-inverse;
            border-bottom: 1px solid $border-inverse;
            box-shadow: 0 10px 24px $bkgd-inverse;
            clip-path: inset(0 0 -26px 0);
            display: flex;
            justify-content: flex-start;
            left: 0;
            margin: 0 16px;
            padding: 16px 0;
            position: fixed;
            top: 0;
            width: $nav-width - 32px;
            .logo {
                display: inline-block;
                flex: 0 1 auto;
                height: 31px;
                margin: 0;
                width: 130px;
                path { fill: $color-text-inverse; }
            }
            .doc-version {
                border-left: 1px solid;
                flex: 1 0 auto;
                font-size: em(9px);
                font-style: italic;
                margin: -1px 0 0 25px;
                text-align: right;
            }
        }
        .ui.header.header-size-small { margin-bottom: 5px; z-index: -1; }
        ul + .ui.header.header-size-small { border-top: 1px solid $border-inverse; margin-top: 22px !important; padding-top: 22px; }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                color: $color-text-static;
                font-size: em(14px);
                transition: color 300ms ease-out;
                &.is-active { color: $color-text-inverse; }
            }
        }

}
body.pushed-right .core-app-nav { opacity: 1; transition-delay: .1ms; }

@media only screen and (min-width: 768px) {
    .core-app-nav {
        opacity: 1;
        transition: none;
        z-index: 7000;
    }
}
