@import 'config/Colors', 'config/Fonts', 'config/FontSizeCalculator';

.ui.swatch {
    align-items: center;
    color: $color-text;
    display: inline-flex;
    flex-direction: column;
    font-weight: $default-font-weight-semibold;
    height: 100px;
    justify-content: center;
    padding: 11px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    &.swatch-border { border: 1px solid $border; }
    &.swatch-text-inverse { color: $color-text-inverse; }
}
