@import '../../styles/colors', '../../styles/fonts', '../../styles/fontSizeCalculator';

.ui.date-picker-deprecated {
    width: 274px;
    .date-picker-presets {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
        list-style: none;
        margin: 0 -4px;
        padding: 0;
        li { flex: 1 0 auto; text-align: center; }
    }
}
