@import '../../styles/colors', '../../styles/fonts', '../../styles/fontSizeCalculator';

.ui.date-picker-deprecated-week {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    justify-content: center;
    margin: 4px 0;
    width: 100%;
    &:last-child { margin-bottom: 0; }
}
