@import '../../config/Colors', '../../config/Fonts', '../../config/FontSizeCalculator';

.ui.icon {
    display: inline-flex;
    height: rem(16px);
    margin-right: 11px;
    text-align: center;
    width: rem(16px);
    > svg {
        height: rem(16px);
        transition:
            color 150ms ease-out,
            transform 150ms ease-out;
        width: rem(16px);
    }
    .icon-use-path { transition: fill 150ms linear; }
    &-align-left { margin-right: 11px; }
    &-align-right { margin-left: 11px; margin-right: 0; }
    &-clickable { cursor: pointer; }
    &-color {
        &-alert { .icon-use-path { fill: $color-text-alert; } }
        &-highlight { .icon-use-path { fill: $color-text-highlight; } }
        &-primary { .icon-use-path { fill: $color-text; } }
        &-static { .icon-use-path { fill: $color-text-static; } }
        &-success { .icon-use-path { fill: $color-text-success; } }
        &-warning { .icon-use-path { fill: $color-text-warning; } }
    }
    &-inverse {
        &.icon-color-alert { .icon-use-path { fill: $color-text-alert; } }
        &.icon-color-highlight { .icon-use-path { fill: $color-text-highlight; } }
        &.icon-color-primary { .icon-use-path { fill: $color-text-inverse; } }
        &.icon-color-static { .icon-use-path { fill: $color-text-static; } }
        &.icon-color-success { .icon-use-path { fill: $color-text-success; } }
        &.icon-color-warning { .icon-use-path { fill: $color-text-warning; } }
    }
    &-compact { margin: 0; }
    &.icon-disable { color: $color-text-disable; cursor: default; }
    &-size- {
        &xxlarge, &xxlarge svg { height: rem(32px); width: rem(32px); }
        &xlarge, &xlarge svg { height: rem(24px); width: rem(24px); }
        &large, &large svg { height: rem(20px); width: rem(20px); }
        &medium, &medium svg { height: rem(18px); width: rem(18px); }
        &small, &small svg { height: rem(14px); width: rem(14px); }
        &xsmall, &xsmall svg { height: rem(12px); width: rem(12px); }
        &xxsmall, &xxsmall svg { height: rem(10px); width: rem(10px); }
    }
    &-spin svg { animation: 1500ms infinite spin linear; line-height: 1; }
}
button.ui.icon {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

@keyframes spin {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}
