@import '../../config/Colors', '../../config/Fonts', '../../config/FontSizeCalculator';

.ui.input {
    color: $color-text;
    display: inline-block;
    font-size: em(16px);
    .label { margin-bottom: em(8px); }
        .input-required-indicator {
            color: $color-text-alert;
            display: inline-block;
            font-size: rem(14px);
            margin-left: 3px;
        }
    .input-container { position: relative; }
        input {
            background-color: $bkgd;
            border: 1px solid $border;
            border-radius: 3px;
            line-height: em(42px);
            margin: 0;
            outline: none;
            padding: 0 em(11px);
            text-align: left;
            transition: border-color 150ms ease-out;
            width: 100%;
            &::placeholder { color: $color-text-static; }
        }
    &.input-disabled {
        input { background-color: $bkgd-disable; }
        &.input-icon { color: $color-text-static; }
    }
    &.input-error {
        input { border-color: $bkgd-alert !important; }
        .input-error-message { color: $color-text-alert; font-size: em(14px); }
    }
    &.input-fluid { display: block; }
    &.input-icon, &.input-loading {
        .input-container > {
            .ui.icon, .input-icon-custom {
                margin-top: -8px;
                position: absolute;
                right: 11px;
                top: 50%;
            }
        }
            input { padding-right: em(38px); }
    }
    &.input-focused input { border-color: $bkgd-highlight; }
    &.input-type-number {
        input {
            -moz-appearance: textfield;
            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        .input-number-controls {
            margin-top: -13px;
            position: absolute;
            right: 11px;
            top: 50%;
            i {
                display: block;
                &:last-child { margin-top: 2px; }
            }
        }
    }
    + * { margin-top: em(33px); }
}
