@import '../../config/Colors', '../../config/Fonts', '../../config/FontSizeCalculator';

$size: 22px;
$size-dot: 14px;

.ui.radio {
    display: inline-block;
    margin-right: 11px;
    min-height: $size;
    position: relative;
    text-align: left;
    .input { display: none; }
    label {
        color: $color-text;
        cursor: pointer;
        display: block;
        font-size: rem(14px);
        position: relative;
        > span { display: inline-block; padding-left: rem(33px); padding-top: 2px; }
        &::before, &::after {
            content: '';
            height: $size;
            left: 0;
            position: absolute;
            top: 0;
            transition: opacity 150ms ease;
            width: $size;
        }
        &::before { // faux input
            background: $bkgd;
            border: 1px solid $border;
            border-radius: rem(11px);
        }
        &::after { // dot/check
            background-color: $bkgd-highlight;
            border-radius: rem($size-dot / 2);
            height: $size-dot;
            margin: ($size - $size-dot) / 2;
            opacity: 0;
            width: $size-dot;
        }
        &.label-not-clickable {
            cursor: auto;
            &::before, &::after { cursor: pointer; }
        }
    }
    .input:checked + {
        label::after { opacity: 1; }
    }
    &-align-right {
        margin-left: 11px;
        margin-right: 0;
        text-align: left;
        label {
            > span {
                padding-left: 0;
                padding-right: rem(33px);
            }
            &::before, &::after { left: auto; right: 0; }
        }
    }
    &-disabled {
        label {
            color: $color-text-static;
            cursor: auto;
            &::before { background: $bkgd-disable; }
            &::after { background-color: $bkgd-static; }
        }
    }
    &-full-width {
        display: block;
    }
    &-pill {
        .radio-item {
            display: inline-block;
            label {
                background-color: $bkgd;
                border: 1px solid $border;
                border-right: 0;
                cursor: pointer;
                display: inline-block;
                font-size: rem(14px);
                font-weight: $default-font-weight-normal;
                outline: none;
                padding: rem(6px) rem(22px);
                text-align: center;
                text-decoration: none;
                transition: background-color 125ms linear, border 125ms linear, color 125ms linear;
                white-space: nowrap;
                &::before, &::after { display: none; }
            }
            .input:checked + label {
                background-color: $bkgd-highlight;
                border-color: $border-highlight;
                color: $color-text-inverse;
            }
            &:first-child {
                label { border-radius: 15.5px 0 0 15.5px; }
            }
            &:last-child {
                label { border-right: 1px solid $border; border-radius: 0 15.5px 15.5px 0; }
                .input:checked + label { border-right: 1px solid $border-highlight; }
            }
            &.radio-item-is-checked + .radio-item label { border-left: 1px solid $border-highlight; }
        }
    }
}
