$default-font-family: 'Source Sans Pro', sans-serif;
$secondary-font-family: 'droid serif', georgia, serif;

$default-font-weight-normal: 400;
$default-font-weight-semibold: 600;
$default-font-weight-bold: 700;
