@import 'config/ColorsNew';

$nav-width: 266px;

html, body, #coreApp, .core-app-root, .layout { height: 100%; }
    *, *::after, *::before { box-sizing: border-box; }
    body {
        background-color: $bkgd-light;
        .layout { position: relative; right: 0; transition: right 166ms linear; }
        &.pushed-right {
            overflow-x: hidden;
            .layout { right: -$nav-width !important; }
        }
    }
    .core-app-root { min-width: 320px; }
        .main {
            background-color: $bkgd;
            max-width: 1120px;
            min-height: 100%;
            padding: 0 11px 22px;
            > h1:first-child { margin-top: 0; }
            > :last-child { margin-bottom: 0; }
        }

@media only screen and (min-width: 768px) {
    body.pushed-right {
        overflow: auto;
        .layout { right: 0 !important; }
    }
        .main { margin-left: $nav-width; padding: 0 22px 22px; }
}
