@import '../../styles/colors', '../../styles/fonts', '../../styles/fontSizeCalculator', '../../styles/variables';

.ui.drawer--navigation {
    height: $drawer-navigation-height;
    left: 0;
    position: fixed;
    right: 0;
    transform: translateZ(0);
    z-index: $drawer-zindex;
}
