@import '../styles/fontSizeCalculator';

$columns: 12;
$gutterDefault: 11px;
$gutterForm: 16.5px;
$gutterRelaxed: 22px;
$breakpoints: (
    'mobile' '(max-width: 374px)',
    'mobile-medium' '(min-width: 375px)',
    'mobile-large' '(min-width: 425px)',
    'tablet' '(min-width: 768px)',
    'laptop' '(min-width: 1024px)',
    'desktop' '(min-width: 1440px)',
    'desktop-large' '(min-width: 1720px)'
);
$breakpointHasWidths: (
    'mobile',
    'mobile-medium',
    'mobile-large',
    'tablet',
    'laptop',
    'desktop',
    'desktop-large'
);
$prefixGrid: '.ui.grid';

#{$prefixGrid} {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: rem(-$gutterDefault);
    padding: 0;
    text-align: left;
    + #{$prefixGrid} { margin-top: 11px; }
    &.grid-horizontal-center { justify-content: center; }
    &.grid-horizontal-left { justify-content: flex-start; }
    &.grid-horizontal-right { justify-content: flex-end; }
    &.grid-text-align-center { text-align: center; }
    &.grid-text-align-left { text-align: left; }
    &.grid-text-align-right { text-align: right; }
    &.grid-vertical-bottom { align-items: flex-end; }
    &.grid-vertical-middle { align-items: center; }
    &.grid-vertical-top { align-items: flex-start; }
    &.grid-columns-one .grid-col { width: 1 / 1 * 100%; }
    &.grid-columns-two .grid-col { width: 1 / 2 * 100%; }
    &.grid-columns-three .grid-col { width: 1 / 3 * 100%; }
    &.grid-columns-four .grid-col { width: 1 / 4 * 100%; }
    &.grid-columns-five .grid-col { width: 1 / 5 * 100%; }
    &.grid-columns-six .grid-col { width: 1 / 6 * 100%; }
    &.grid-columns-seven .grid-col { width: 1 / 7 * 100%; }
    &.grid-columns-eight .grid-col { width: 1 / 8 * 100%; }
    &.grid-columns-nine .grid-col { width: 1 / 9 * 100%; }
    &.grid-columns-ten .grid-col { width: 1 / 10 * 100%; }
    &.grid-columns-eleven .grid-col { width: 1 / 11 * 100%; }
    &.grid-columns-twelve .grid-col { width: 1 / 12 * 100%; }
}
    #{$prefixGrid}-row {
        align-items: inherit;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: inherit;
        width: 100%;
        &.grid-row-horizontal-center { justify-content: center; }
        &.grid-row-horizontal-left { justify-content: flex-start; }
        &.grid-row-horizontal-right { justify-content: flex-end; }
        &.grid-row-text-align-center { text-align: center; }
        &.grid-row-text-align-left { text-align: left; }
        &.grid-row-text-align-right { text-align: right; }
        &.grid-row-vertical-bottom { align-items: flex-end; }
        &.grid-row-vertical-middle { align-items: center; }
        &.grid-row-vertical-top { align-items: flex-start; }
        &.grid-row-columns-one .grid-col { width: 1 / 1 * 100%; }
        &.grid-row-columns-two .grid-col { width: 1 / 2 * 100%; }
        &.grid-row-columns-three .grid-col { width: 1 / 3 * 100%; }
        &.grid-row-columns-four .grid-col { width: 1 / 4 * 100%; }
        &.grid-row-columns-five .grid-col { width: 1 / 5 * 100%; }
        &.grid-row-columns-six .grid-col { width: 1 / 6 * 100%; }
        &.grid-row-columns-seven .grid-col { width: 1 / 7 * 100%; }
        &.grid-row-columns-eight .grid-col { width: 1 / 8 * 100%; }
        &.grid-row-columns-nine .grid-col { width: 1 / 9 * 100%; }
        &.grid-row-columns-ten .grid-col { width: 1 / 10 * 100%; }
        &.grid-row-columns-eleven .grid-col { width: 1 / 11 * 100%; }
        &.grid-row-columns-twelve .grid-col { width: 1 / 12 * 100%; }
    }
        .grid-col {
            align-self: auto;
            flex: 0 1 auto;
            padding: rem($gutterDefault);
            vertical-align: top;
            width: 1 / $columns * 100%;
            &.grid-col-floated-left { margin-right: auto; }
            &.grid-col-floated-right { margin-left: auto; }
            &.grid-col-align-stretch { align-self: stretch; }
            &.grid-col-text-align-center { text-align: center; }
            &.grid-col-text-align-left { text-align: left; }
            &.grid-col-text-align-right { text-align: right; }
            &.grid-col-vertical-align-bottom { align-items: bottom; display: flex; }
            &.grid-col-vertical-align-center { align-items: center; display: flex; }
            &.grid-col-vertical-align-top { align-items: top; display: flex; }
        }
#{$prefixGrid}-form, #{$prefixGrid}-form #{$prefixGrid} {
    margin-bottom: rem(-$gutterForm);
    margin-top: rem(-$gutterForm);
}
#{$prefixGrid}-form {
    #{$prefixGrid}-col {
        padding-bottom: rem($gutterForm);
        padding-top: rem($gutterForm);
    }
    #{$prefixGrid}-col-form_field {
        &_checkbox, &_radio {
            padding-bottom: rem(5.5px);
            padding-top: rem(5.5px);
            &:last-child {
                padding-bottom: rem(16.5px);
            }
        }
        &_legend {
            padding-bottom: 0;
        }
    }
}
#{$prefixGrid}-relaxed {
    margin-left: rem(-$gutterRelaxed);
    margin-right: rem(-$gutterRelaxed);
    #{$prefixGrid}-col {
        padding-left: rem($gutterRelaxed);
        padding-right: rem($gutterRelaxed);
    }
}
#{$prefixGrid}-stressed, #{$prefixGrid}-row-stressed {
    margin-left: 0;
    margin-right: 0;
    #{$prefixGrid}-col {
        padding-left: 0;
        padding-right: 0;
    }
}

@mixin deviceType($namespace: '') {
    $prefix: '.grid-col-' + $namespace;
    $columnsWidth: 1 / $columns * 100%;

    #{$prefix}auto { width: auto; }
    #{$prefix}one { width: 1 * $columnsWidth; }
    #{$prefix}two { width: 2 * $columnsWidth; }
    #{$prefix}three { width: 3 * $columnsWidth; }
    #{$prefix}four { width: 4 * $columnsWidth; }
    #{$prefix}five { width: 5 * $columnsWidth; }
    #{$prefix}six { width: 6 * $columnsWidth; }
    #{$prefix}seven { width: 7 * $columnsWidth; }
    #{$prefix}eight { width: 8 * $columnsWidth; }
    #{$prefix}nine { width: 9 * $columnsWidth; }
    #{$prefix}ten { width: 10 * $columnsWidth; }
    #{$prefix}eleven { width: 11 * $columnsWidth; }
    #{$prefix}twelve { width: 12 * $columnsWidth; }
}

@include deviceType();

@mixin gridMediaQuery($mediaQuery) {
    $breakpointFound: false;

    @each $breakpoint in $breakpoints {
        $name: nth($breakpoint, 1);
        $declaration: nth($breakpoint, 2);

        @if $mediaQuery == $name and $declaration{
            $breakpointFound: true;

            @media only screen and #{$declaration}{
                @content;
            }
        }
    }

    @if $breakpointFound == false{
        @warn "Breakpoint ‘#{$mediaQuery}’ does not exist"
    }
}

@each $name in $breakpointHasWidths {
    @include gridMediaQuery($name) {
        @include deviceType('#{$name}-');
    }
}
